.paragraph{
    color:blue;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin-top: 0%;
    background-color:chocolate ;
    border-radius: 5px;
}
.name{
    color: rgb(168, 13, 13);
    font-weight: 800;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.link{
    color:firebrick;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    @media (max-width: 768px) {
    .main{
        display: grid;
        padding: 0 2px;
        max-width: fit-content;
        max-height: fit-content;
    }
    .image{
        max-width: fit-content;
        max-height: fit-content;
    }
    .paragraph{
        font-size: 15px;
        padding: 5px;
        margin: auto;
    }
}
}
